/* importanto a fonte (Open Sans) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7ed;
    font-family: "Open Sans";
    height: 100vh;
}


/* estilo do cabeçalho*/

.navbar {
    padding: 30px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe0e7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.links {
    width: 60px;
    gap: 20%;
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    display: flex;
    align-items: center;

    img {
        height: 100px;
        margin-right: 25px;
        width: auto;
    }
}

a {
    margin-top: 11%;
    text-decoration: none;
    color: #ae3656;
    text-align: center;
    font-weight: bold;
    margin-right: 80%;
}

.botoes {
    display: flex;
    gap: 12%;

    .vazado {
        color: #ffe0e7;
        font-weight: 700;
        border-radius: 10px;
        border: 1px solid #ae3656;
        background-color: #ffe0e7;
        padding: 5px 50px;
    }

    .preenchido {
        color: white;
        font-weight: 700;
        background-color: #ae3656;
        border: 1px solid;
        border-radius: 10px;
        padding: 10px 30px;
        white-space: nowrap;
    }

    .preenchido a {
        color: white;
    }
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* titulo e subtitulo */
.boasvindas {
    color: #ae3656;
    text-align: center;
    margin-top: 40px;
}

.linha {
    width: 90%;
    margin: 20px auto;
    border: none;
    height: 3px;
    background-color: #7a8fa6;
}

/* cards das receitas */
.receitas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 40px;
    margin-top: 40px;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card p {
    padding: 15px;
    font-weight: bold;
    color: #ae3656;
    border-top: 3px solid #7a8fa6;
}

.card:hover {
    transform: translateY(-5px);
}

.footer{
    background-color: #ffe0e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-top: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.ladoEsquerdo{
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

.logo-sptech{
    height: 50px;
    margin-top: 50px;
}


.centro{
    font-weight: bold;
    color: #ae3656;
}

.ladoDireito{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo-sb{
    height: 150px;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes img {
    height: 40px;
    cursor: pointer;
}