/* importanto a fonte (Open Sans) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7ed;
    font-family: "Open Sans";
    height: 100vh;
}

/* NAV */

.navbar {
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe0e7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* área dos links da navbar */
.links {
    display: flex;
    align-items: center;
    gap: 40px;

}

/* logo */
.logo {
    height: 60px;
    display: flex;
    align-items: center;
}

/* imagem da logo */
.logo img {
    height: 90px;
    margin-right: 25px;
    width: auto;
}

/* links da navbar */
.links a {
    text-decoration: none;
    color: #ae3656;
    font-weight: bold;
}

/* efeito quando passar o mouse */
.links a:hover {
    color: #7a8fa6;
    transform: scale(1.03);
}

/* BOTÕES DA NAVBAR */

.botoes {
    display: flex;
    gap: 15px;

    /* remove as bolinhas da lista (tag li) */
    list-style: none;
}

.botoes a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(174, 54, 86, 0.4);
}

/* botão vazado */
.vazado {
    color: #ae3656;
    border: 1px solid #ae3656;
    background-color: #ffe0e7;
    padding: 7px 35px;
}

/* efeito hover */
.vazado:hover {
    background-color: #ffd1dc;
    transform: scale(1.03);
}

/* botão preenchido */
.preenchido {
    color: white;
    background-color: #ae3656;
    padding: 7px 25px;
}

/* efeito hover */
.preenchido:hover {
    background-color: #922b48;
    transform: scale(1.03);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f1ea;
    font-family: "Open Sans", sans-serif;
}

.dashboard {
    width: 100%;
    min-height: 100vh;
    padding: 40px 80px;
}

/* PERFIL */

.perfil {
    text-align: center;
}

.texto-pequeno {
    color: #9d8b87;
    font-size: 20px;
    margin-bottom: 10px;
}

.perfil h1 {
    color: #b0305b;
    font-size: 52px;
    margin-bottom: 20px;
}

.perfil button {
    background-color: #b0305b;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* LINHA */

.perfil {
    margin-top: 45px;
}

.perfil h1 {
    font-size: 50px;
    text-shadow: 0 0 8px #ffd1dc;
}

.linha {
    width: 85%;
    height: 4px;
    background-color: #7a8fa6;
    margin: 50px auto;
}

/* KPIS */

.kpis {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 300px;
    background-color: #fdfdfd;
    border-radius: 25px;
    padding: 25px 25px;
    border-top: 5px solid #b0305b;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo-card {
    color: #9d8b87;
    font-size: 5px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.card h2 {
    color: #b0305b;
    font-size: 30px;
    margin-bottom: 15px;
}

.card p {
    color: #5e5e5e;
    font-size: 20px;
    line-height: 1.5;
}