/* importanto a fonte (Open Sans) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7ed;
    font-family: "Open Sans";
    height: 100vh;
}

/* CABEÇALHO */

.navbar {
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe0e7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* área dos links da navbar */
.links {
    display: flex;
    align-items: center;
    gap: 40px;

}

/* logo */
.logo {
    height: 60px;
    display: flex;
    align-items: center;
}

/* imagem da logo */
.logo img {
    height: 90px;
    margin-right: 25px;
    width: auto;
}

/* links da navbar */
.links a {
    text-decoration: none;
    color: #ae3656;
    font-weight: bold;
}

/* efeito quando passar o mouse */
.links a:hover {
    color: #7a8fa6;
    transform: scale(1.03);
}

/* BOTÕES DA NAVBAR */

.botoes {
    display: flex;
    gap: 15px;

    /* remove as bolinhas da lista (tag li) */
    list-style: none;
}

.botoes a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(174, 54, 86, 0.4);
}

/* botão vazado */
.vazado {
    color: #ae3656;
    border: 1px solid #ae3656;
    background-color: #ffe0e7;
    padding: 7px 35px;
}

/* efeito hover */
.vazado:hover {
    background-color: #ffd1dc;
    transform: scale(1.03);
}

/* botão preenchido */
.preenchido {
    color: white;
    background-color: #ae3656;
    padding: 7px 25px;
}

/* efeito hover */
.preenchido:hover {
    background-color: #922b48;
    transform: scale(1.03);
}

/* VIDEO */
.videoFamilia {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.videoFamilia video {
    width: 70%;
    border-radius: 10px;
}

/* MISSÃO */
.missao {
    margin: 80px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-missao {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

/* texto */
.texto-missao {
    width: 40%;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.titulo img {
    height: 95px;
}

/* linha ondulada rosa */
.destaque {
    margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 50%;
}

.destaque img {
    width: 140px;
    height: auto;
}

/* titulo */
.titulo h1 {
    color: #000;
    font-size: 25px;
}

.texto-missao p {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: bold;
    color: #1d1d1d;
    /* margin-top: 10px; */
}

/* card imagem */
.imagem-missao {
    position: relative;
    width: 50%;
}

.imagem-missao img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/* card frase */
.card-frase {
    position: absolute;
    bottom: -30px;
    right: -30px;
    background-color: #ffe0e7;
    border-radius: 15px;
    padding: 15px 20px;
    width: 220px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.card-frase p {
    font-size: 14px;
    font-weight: bold;
    color: #1d1d1d;
    line-height: 1.4;
}

/* HISTORIA */
.historia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linha {
    width: 75%;
    margin: 20px auto;
    border: none;
    height: 3px;
    background-color:#ffe0e7
}

.historia h1 {
    color: #922b48;
    margin-top: 20px;
}

.historia img {
    width: 85%;   
    margin-top: 10px;
}

/* FOOTER */
.footer {
    background-color: #ffe0e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-top: 80px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 100%;
}

.ladoEsquerdo {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(174, 54, 86, 0.4);
}

.logo-sptech {
    height: 50px;
    margin-top: 50px;
}

.centro {
    font-weight: bold;
    color: #ae3656;
    text-shadow: 2px 2px 4px rgba(174, 54, 86, 0.4);
}

.ladoDireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo-sb {
    height: 150px;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes img {
    height: 40px;
    cursor: pointer;
}