/* importanto a fonte (Open Sans) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7ed;
    font-family: "Open Sans";
    height: 100vh;
}

/* CABEÇALHO */

.navbar {
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe0e7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* área dos links da navbar */
.links {
    display: flex;
    align-items: center;
    gap: 40px;

}

/* logo */
.logo {
    height: 60px;
    display: flex;
    align-items: center;
}

/* imagem da logo */
.logo img {
    height: 90px;
    margin-right: 25px;
    width: auto;
}

/* links da navbar */
.links a {
    text-decoration: none;
    color: #ae3656;
    font-weight: bold;
}

/* efeito quando passar o mouse */
.links a:hover {
    color: #7a8fa6;
    transform: scale(1.03);
}

/* BOTÕES DA NAVBAR */

.botoes {
    display: flex;
    gap: 15px;

    /* remove as bolinhas da lista (tag li) */
    list-style: none;
}

.botoes a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(174, 54, 86, 0.4);
}

/* botão vazado */
.vazado {
    color: #ae3656;
    border: 1px solid #ae3656;
    background-color: #ffe0e7;
    padding: 7px 35px;
}

/* efeito hover */
.vazado:hover {
    background-color: #ffd1dc;
    transform: scale(1.03);
}

/* botão preenchido */
.preenchido {
    color: white;
    background-color: #ae3656;
    padding: 7px 25px;
}

/* efeito hover */
.preenchido:hover {
    background-color: #922b48;
    transform: scale(1.03);
}

/* VIDEO */
.video {
    display: flex;
    justify-content: center;
}

.video video {
    width: 85%;
    border-radius: 30px;
}

/* MISSÃO */
.missao {
    width: 85%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* texto */
.texto-missao {
    width: 45%;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.titulo img {
    height: 40px;
}

.titulo h1 {
    color: #000;
    font-size: 45px;
}

.texto-missao p {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #1d1d1d;
}

/* imagem */

.imagem-missao {
    position: relative;
    width: 40%;
}

.imagem-missao img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/* card rosa */

.card-frase {
    position: absolute;
    bottom: -40px;
    right: -30px;

    background-color: #ffdce6;
    padding: 25px;

    width: 250px;

    border-radius: 25px;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-frase p {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.4;
}

/* HISTORIA */

.historia {
    width: 90%;
    margin: 120px auto;
}

.historia h1 {
    text-align: center;
    color: #9d4a3f;
    font-size: 60px;
    margin-bottom: 30px;
}

.container-historia {
    width: 100%;
    height: 700px;

    background-color: #fffaf5;

    border-radius: 40px;

    box-shadow: 0px 0px 30px rgba(255, 192, 203, 0.3);
}